/* @import "./fonts.css";
@import "./_global.css"; */
/* 
@import url(./_global.css); */
* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f7f6ee;
  --secondary-color: #e2e2e2;
  --text-dark: #101010;
  --text: #333333;
  --text-light: #7b7b85;
  --text-lighter: #ababab;
  --blue: #3498db;
  --green: #27ae60;
  --yellow: #feca57;
  --red: #c0392b;
  --white: #ffffff;
  --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

  --mobirise: 'mobirise';
}

/* @media (prefers-color-scheme: light) {
  :root {
      --background-color: #f7f6ee;
      --secondary-color: #e2e2e2;
      --text-dark: #101010;
      --text: #333333;
      --text-light: #7b7b85;
      --text-lighter: #ababab;
      --blue: #3498db;
      --green: #27ae60;
      --yellow: #feca57;
      --red: #c0392b;
      --white: #ffffff;
      --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

      --mobirise: 'mobirise';
    }
} */


@media (prefers-color-scheme: dark) {
  :root {
     --background-color: #1e1f23;
     --secondary-color: #232428;
     --text-dark: #efefef;
     --text: #c4c5c9;
     --text-light: #6c6d71;
     --text-lighter: #8e8f93;

     --box-shadow: 0px 10px 30px rgba(235, 235, 235, 0.082);
   } 
}

 /* Sample css for an element */
body {
  background: var(--background-color);
  color: var(--text) ; 
  font-family: 'Roboto' !important;
}
.grey-bg {
  background: var(--secondary-color);
}
#banner, #home {
  top: 0;
}
.hero-image {
  height: 100vh;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('back-hero2.jpg');
  overflow: hidden;
  background-size: 110% 110%;
  background-repeat: no-repeat;
   */
   width: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero-image video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20vh);
  color: #fff;
}
.hero-text h2 {
  font-size: 2.5rem;
}

.hero-text h2::after {
  content: '';
  background: #fff;
  height: 3px;
  width: 50px;
  margin-left: 65px;
  display: block;
  transform: translateY(-10px);
}
.hero-text h1 {
  font-weight: 600;
  text-shadow: 2px 2px rgb(131, 131, 131);
  font-size: 8rem;
}
.hero-text h4 {
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.637);
  width: 100%;
  height: 100vh;
}

.navbar {
  /* padding: 20px; */
  padding: 1rem 1rem;
  -webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
	transition:background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar li a{
  color: var(--background-color) !important;
  font-weight: 400 !important;
}
.navbar .navbar-brand {
  color: var(--background-color) !important;
  font-weight: 600;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler .fa {
  color: var(--background-color);
}
.scrolled {
  padding: .5rem 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 15px 2px #000000;
}
.scrolled li a {
  color: var(--text-dark) !important;
}
.scrolled .navbar-brand {
  color: var(--text-dark) !important;
}
.scrolled .navbar-toggler .fa {
  color: var(--text-dark);
}
#carouselExampleIndicators {
  height: 100vh !important;
}
.carousel-inner{
  height: 100vh !important;
}

@media screen and (min-width: 540px) and (max-width: 780px) {
  #carouselExampleIndicators {
      height: 40vh !important;
  }
  .carousel-inner{
      height: 40vh !important;
  }
}

#about, #portfolio, #service, #contact, footer {
  padding: 5rem 0;
}
#about .title {
  margin-bottom: 40px;
}

.title {
  font-weight: 900;
  font-size: 10rem;
}

.title span {
  margin-right: -3%;
  opacity: 0.05;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.title span:hover {
  opacity: 1;
}

#about p {
  text-align: justify !important;
  text-indent: 30px;
}

/* .title::before {
  content: '';
  background: #6c6d71;
  height: 5px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(56px);
}
.title::after {
  content: '';
  background: #6c6d71;
  height: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(0px);
} */

.about-text {
  margin-top: 100px;
}

.zoom-effect-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.image-card {
  position: absolute;
  top: 0;
  left: 0;

}

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/*---------------- Portfolio --------------------*/


#portfolios .card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 290px 240px;
  grid-template-areas: "image" "text";

  max-width: 300px;
  border-radius: 10px;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
}

#portfolios .card:hover {
  transform: scale(1.05);

}

#portfolios .card .card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  overflow: hidden !important;
  background-size: cover !important;
  background-position: center !important;
}
#portfolios .card .card-text {
  grid-area: text;
  margin: 2rem;
}
#portfolios .card .card-text h1 {
  font-size: 2rem;
}
#portfolios .card .card-text p {
  font-size: .8rem;
}


/*--------------- services-------------------------*/

.card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2rem 0;
  background-color: var(--secondary-color) !important;
  border: var(--text) 1px solid;
}
.card:hover {
  box-shadow: var(--box-shadow);
}
.card-img-top {
  height: 150px;
  width: 150px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.service-text {
  margin-top: 50px;
  margin-bottom: -10px;
}


.carousel-wrap {
  margin-top: 50px;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

.owl-carousel .client {
  background: var(--secondary-color);
  margin: 3rem 0rem;
  border-radius: 1px;
}
.owl-carousel .client:hover {
  box-shadow: var(--box-shadow);
}
.owl-carousel .client .client-img { 
  padding: 1rem;
}
.owl-carousel .client .client-img img {
  height: 7rem;
  width: 7rem;
}
.owl-carousel .client .about-client {
  padding-top: 2rem;
}
.owl-carousel .client .about-client h4 {
  font: normal 500 21px/ 20px;
}
.owl-carousel .client .about-client p {
  font-size: 14px;
}
.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}
.owl-nav {
  display: none;
}


/*----------------contact-----------*/
.contact-list {
    margin-top: 35%;
    text-align: left;
    font-size: 20px;
    list-style: none;
}
.contact-list li a {
  text-decoration: none;
  color: var(--text);
  margin-left: 15px;
}
.contact-list .fa {
  padding: 5px;
}

iframe {
  border-radius: 5px;
}





/* 
Footer */

.site-footer
{
background-color: var(--secondary-color);
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:var(--text-lighter);
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:var(--text);
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color: var(--text);
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:var(--text);
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color: var(--background-color);
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none;
margin-right: 20px;
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:var(--text);
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:var(--text);
color:var(--text);
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:var(--text);
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
.social-icons a.instagram:hover
{
background-color:rgb(218, 97, 17)
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}

/* Floating button */
.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:30px;
	right:30px;
	background-color:var(--text);
	color:var(--background-color);
	border-radius:50px;
  text-align:center;
  z-index: 999;
}

.my-float{
  margin-top:7px;
  font-size: 1.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.my-float:hover {
  margin-top: 5px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.float .fa-angle-down {
  margin-top: 7px;
}

/* Contact Form */
.form-control,
.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}


#contactForm .form-group label.control-label {
    color: var(--text)
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}
#contactForm .btn {
  margin-top: -50px;
}

#contactForm .btn-common {
  background-color: var(--background-color);
  color: var(--text);
}
#contactForm .btn-common:active {
  outline: none;
}

/* Media Screen Sizes */

@media screen and (max-width: 540px)  {
  #carouselExampleIndicators {
    height: 40vh !important;
}
.carousel-inner{
    height: 40vh !important;
}
.hero-image {
  height: 40vh !important;
}
.hero-image video {
  height: 40vh !important;
}
.hero-text {
  transform: translate(-70%, -15vh);
}
.hero-text h2 {
  font-size: 2rem;
}
.hero-text h2::after {
  margin-left: 55px;
}
.hero-text h1 {
  font-size: 6rem;
}
.hero-text h4 {
  font-size: 1.5rem;
}
.overlay {
  height: 40vh;
}

#about, #portfolio, #service, #contact, footer {
  padding: 4rem 0;
}
  .title {
    font-size: 3.7rem;
  }
  .about-text {
    margin-top: 0px;
  }
  .zoom-effect-container {
    height: 350px;
    width: 350px;
  }
}